$footer-gap: 54px;

.transactions-tab {
  margin-bottom: $footer-gap - 1;

  & input {
    height: auto!important;
    margin: 0!important;
  }
}

.transactions-tab tr.line {
  cursor: pointer;

  &.selected {
    background-color: #fff9c4 !important;
  }

  &.db-selected.selected {
    background-color: #dce775 !important;
  }

  &:hover {
    border-bottom: 1px solid mediumpurple;
  }
}

#totals-footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:$footer-gap;
  width:100%;
  background:#eee;
  //opacity: 0.8;
}